<script src="{{site.baseurl}}/assets/gitbook/gitbook.js"></script>
<script src="{{site.baseurl}}/assets/gitbook/theme.js"></script>

<script src="{{site.baseurl}}/assets/gitbook/gitbook-plugin-fontsettings/fontsettings.js"></script>
<script src="{{site.baseurl}}/assets/gitbook/gitbook-plugin-sharing/buttons.js"></script>

<!-- <script src="../gitbook/gitbook-plugin-lunr/lunr.min.js"></script>
<script src="../gitbook/gitbook-plugin-lunr/search-lunr.js"></script>
<script src="../gitbook/gitbook-plugin-search/search-engine.js"></script>
<script src="../gitbook/gitbook-plugin-search/search.js"></script> -->

<script src="{{site.baseurl}}/assets/gitbook/gitbook-plugin-search-pro/jquery.mark.min.js"></script>
<script src="{{site.baseurl}}/assets/gitbook/gitbook-plugin-search-pro/search.js"></script>
<script src="{{site.baseurl}}/assets/gitbook/gitbook-plugin-back-to-top-button/plugin.js"></script>
<script src="{{site.baseurl}}/assets/gitbook/gitbook-plugin-copy-code-button/toggle.js"></script>

{% unless page.uncomment %}
    {%- include waline.html -%}
{% endunless %}

{% if site.extra_footer_js %}
    {%- for extra_js in site.extra_header_js -%}
        {%- assign starts_with = extra_js | slice: 0,4  -%}
        {% if starts_with == "http" %}
<script src="{{ extra_js }}"></script>
        {%- else -%}
<script src="{{site.baseurl}}/{{ extra_js }}"></script>
        {%- endif -%}
    {%- endfor -%}
{% endif %}

{%- if site.tracker -%}
    <!-- trackers -->
    {%- if site.tracker.google_analytics -%}
        <!-- google analytics -->
        {%- include google-analytics.html -%}
    {%- endif -%}
    {%- if site.tracker.cnzz -%}
        <!-- cnzz -->
        {%- include cnzz.html -%}
    {%- endif -%}
{%- endif -%}
