<div class="book-summary">
    <script type="text/javascript">
        // Fixes the page links scroll problem on both desktop and mobile browsers
        function pageScrollToTop(element) {
            // both mobile and non-mobile
            $('div.body-inner').animate({scrollTop: 0});
            $(element).parent().find('li>ul>li').removeClass('active');
            return true;  // propagate
        }
        // Fixes the anchor links scroll problem on mobile browsers
        function mobilePageScrollToAnchor(element) {
            $(element).closest('li.chapter').find('ul>li').removeClass('active');
            $(element).parent().addClass('active');
            if ($(document).width() <= 1240) {
                $('div.body-inner').animate({scrollTop: $($(element).attr('href')).get(0).offsetTop});
            }
            return true;
        }
        //
        function scrollToElement(element) {
            element.scrollIntoView({behavior: "smooth", block: "start"});
            return true
        }
    </script>
    {% if page.lang == 'zh-Hant' %}
    <nav role="navigation">
        <ul class="summary">
            <li style="padding-top: 6px;">
                <a href="{{site.baseurl}}/zh-Hans{{page.url}}" onclick="pageScrollToTop(this)">
                    切换简体
                </a>
            </li>
            <li class="divider"></li>
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <a href="{{site.baseurl}}/" onclick="pageScrollToTop(this)">
                    棄蒼同人站
                </a>
            </li>

            <li class="divider"></li>

            {% for collection in site.collections %}
                <!-- <p>{{ collection.label }}</p> -->
                {% if collection.output %}
                    {% assign filtered_posts = site[collection.label] | where: "lang", "zh-Hant" %}
                    {% if collection.label == "posts" %}
                        {% assign reversed_posts = filtered_posts | reverse %}
                    {% else %}
                        {% assign reversed_posts = filtered_posts | sort "date" %}
                    {% endif %}

                    {% for post in reversed_posts %}
                        {% if post.lang == "zh-Hant"  and post.depth == 1 %}
                        {% if page.url == post.url %}
                        <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                        {% else %}
                        <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                        {% endif %}
                            <a href="{{site.baseurl}}{{post.url}}" onclick="pageScrollToTop(this)">
                                {{ post.title | escape }}
                            </a>
                            {% if post.subdocs %}
                                {% if page.category == post.category %}
                                    <ul>
                                        {% for subdoc in post.subdocs %}
                                            {% if page.url == subdoc.link %}
                                            <li class="active">
                                            {% else %}
                                            <li>
                                            {% endif %}
                                                <a href="{{site.baseurl}}{{subdoc.link}}" onclick="mobilePageScrollToAnchor(this)">{{subdoc.title}}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% elsif post.toc %}
                                {% if page.url == post.url %}
                                    {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                                {% endif %}
                            {% endif %}
                        </li>
                        {% endif %}
                    {% endfor %}

                    {% if reversed_posts.size > 0 %}
                        <li class="divider"></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
        <div id="book-search-input" role="search">
            <input type="text" placeholder="站內搜索" />
        </div>
        <div id="book-search-input-link" role="search">
            <a href="{{site.baseurl}}/assets/search.html">站內搜索</a>
        </div>
    </nav>
    {% else %}
    <nav role="navigation">
        <ul class="summary">
            <li style="padding-top: 6px;">
                {% assign path = page.url %}
                {% assign path_parts = path | split: '/' %}
                {% assign modified_path_parts = path_parts | slice: 2, path_parts.size %}
                {% assign new_path = modified_path_parts | join: '/' %}

                {% if new_path != blank %}
                {% assign new_path = '/' | append: new_path %}
                {% endif %}   

                <a href="{{site.baseurl}}{{new_path}}/" onclick="pageScrollToTop(this)">
                    切換繁體
                </a>
            </li>
            <li class="divider"></li>
            {% if page.url == "/zh-Hans/index.html" or page.url == "/zh-Hans/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <a href="{{site.baseurl}}/zh-Hans/" onclick="pageScrollToTop(this)">
                    弃苍同人站
                </a>
            </li>

            <li class="divider"></li>

            {% for collection in site.collections %}
                <!-- <p>{{ collection.label }}</p> -->
                {% if collection.output %}
                    {% assign filtered_posts = site[collection.label] | where: "lang", "zh-Hans" %}
                    {% if collection.label == "posts" %}
                        {% assign reversed_posts = filtered_posts | reverse %}
                    {% else %}
                        {% assign reversed_posts = filtered_posts | sort "date" %}
                    {% endif %}

                    {% for post in reversed_posts %}
                        {% if post.lang == "zh-Hans" and post.depth == 1 %}
                        {% if page.url == post.url %}
                        <li class="chapter active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                        {% else %}
                        <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                        {% endif %}
                            <a href="{{site.baseurl}}{{post.url}}" onclick="pageScrollToTop(this)">
                                {{ post.title | escape }}
                            </a>
                            {% if post.subdocs %}
                                {% if page.category == post.category %}
                                    <ul>
                                        {% for subdoc in post.subdocs %}
                                            {% if page.url == subdoc.link %}
                                            <li class="active">
                                            {% else %}
                                            <li>
                                            {% endif %}
                                                <a href="{{site.baseurl}}/zh-Hans{{subdoc.link}}" onclick="mobilePageScrollToAnchor(this)">{{subdoc.title}}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% elsif post.toc %}
                                {% if page.url == post.url %}
                                    {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                                {% endif %}
                            {% endif %}
                        </li>
                        {% endif %}
                    {% endfor %}

                    {% if reversed_posts.size > 0 %}
                        <li class="divider"></li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
        <div id="book-search-input" role="search">
            <input type="text" placeholder="站内搜索" />
        </div>
        <div id="book-search-input-link" role="search">
            <a href="{{site.baseurl}}/zh-Hans/search.html">站内搜索</a>
        </div>
    </nav>
    {% endif %}
</div>
