<!DOCTYPE HTML>
<html lang="zh" >
    <head>

        {%- include head.html -%}

        {% assign reversed_posts = site.posts | reverse %}

        {% if reversed_posts %}
            <link rel="next" href="{{site.baseurl}}{{reversed_posts.first.url}}" />
        {% endif %}
    </head>
    <body>
        <div class="book">

            {%- include toc-date.html -%}

            <div class="book-body">
                <div class="book-header" role="navigation">
                    <!-- Title -->
                    <h1>
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                        {% if page.title %}
                            <a href="." >{{ page.title | escape }}</a>
                        {% else %}
                            <a href="." >{{ site.title | escape }}</a>
                        {% endif %}
                    </h1>
                </div>

                <div class="body-inner">
                    {%- include body.html -%}

                    <a href="{{site.baseurl}}/" class="navigation navigation-pre navigation-unique">
                        <i class="fa"></i>
                    </a>

                    {% if reversed_posts %}
                        {% if page.lang == "zh-Hant" %}
                            <a href="{{site.baseurl}}/list/" class="navigation navigation-next navigation-unique" aria-label="Next page: {{reversed_posts.first.title}}">
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        {% else %}
                            <a href="{{site.baseurl}}/zh-Hans/list/" class="navigation navigation-next navigation-unique" aria-label="Next page: {{reversed_posts.first.title}}">
                                <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        {% endif %}
                    {% endif %}
                    <!-- Copyright line -->
                    {%- include copyright.html -%}
                </div>
            </div>

            <script>
            var gitbook = gitbook || [];
            gitbook.push(function() {
                gitbook.page.hasChanged({%- include metadata-home.json.tpl -%});
            });
            </script>

            <script>
                document.getElementById('addMoreFiles').addEventListener('click', function() {
                    var newInput = document.createElement('input');
                    newInput.setAttribute('type', 'file');
                    newInput.setAttribute('name', 'uploads[]');
                    newInput.setAttribute('accept', 'image/png, image/jpeg');
                
                    var newLabel = document.createElement('label');
                    newLabel.textContent = '添加文件:';
                    newLabel.appendChild(newInput);
                
                    var container = document.getElementById('fileInputContainer');
                    container.appendChild(newLabel);
                });
                </script>
    
        </div>
        {%- include footer.html -%}

    </body>
</html>